{% block content %}

<div class="mx-auto " style="width: 90%">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
        
            <legend class="border-bottom mb-5" style="margin-top: 20px">Delete Tutorial</legend>
           <h2> Are you sure you want to delete this tutorial "{{ object.title }}" </h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete</button>

            <a class="btn btn-outline-secondary" href="{% url 'tutorial-detail' object.id %}">Cancel</a>
        </div>
    </form>

</div>
{% endblock content %}