{% extends 'videomain.html' %}{% load embed_video_tags %}{% load static %}{% block content %}

<div class="v-lessons">

   <div class="vlesson-row">
       <div class="vlesson-col">
            {% for v in video %}
            <h4 class="text-center mt-3 mb-2">{{v.caption}}</h4>
            <br></br>
            <video class="embed-responsive embed-responsive-16by9" controls="controls" >
                <source src="{{v.video.url}}" type="video/mp4" />
            </video>
            <br></br>
            <p>{{v.description}}</p>
            <br></br>
            <small>Posted by</small><strong> {{v.author}}</strong>
            <small>on {{ v.date_posted|date:"F d, Y" }}</small>
            <hr>
            <br></br>
            {% endfor %}
        </div>
    </div> 
    
</div>




                        <!--------Pagination------>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&raquo;first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}