{% extends 'main.html' %}{% load static %} {% block content %}

              <!-------------Blog Home Page---------->

<div class="banner-contact">
    <img src="{% static 'images/build21.png' %}">
</div>

<!----<section class="banner-bus-dev">
    <div class="banner-bus-dev-1">
        <img src="{% static 'images/build21.png' %}">
    </div>
    <div class="banner-bus-dev-2">
        <img src="{% static 'images/build21.png' %}">
    </div>

</section>---->
<hr></hr>
<hr></hr>
<hr></hr>


<div class="services">
    <h1>Contact Us</h1>

    <div class="serv-col">
        
        <h4>Selec Plaza </h4>
        <div class="serv-col-row">
            <div class="row-webd">
                <h4>1 Gen Life Ajemba Street<br>
                Off Gbetu Iwerekun Road<br>
                Awoyaya<br>
                Ibeju-Lekki<br>
                Lagos<br>
                Nigeria</h4>
               <!--- <img src="{% static 'images/content_DE.png' %}" alt="image">---->
            </div>
            <div class="row-webd">
                <h4>You can also reach us through: </h4>
                <hr></hr>
                <h4>+234 814 447 4030<br>
                    +234 815 667 0901<br>
                    +234 817 114 1835<br>
                    <hr></hr>
                    info@micbtech.com<br>
                </h4>
                <!---<img src="{% static 'images/sample_Des.png' %}" alt="image">---->
            </div>
        </div>

    </div>
</div>
{% endblock content %}