{% extends 'main.html' %}{% load static %} {% block content %}


<section class="banner">
    <div class="banner1">
        <img src="{% static 'images/tm_img.jpg' %}">
    </div>
    <div class="banner2">
        <img src="{% static 'images/tm_img.jpg' %}">
    </div>
</section>

       <!------------------------------Company Profile-------------------------->

<section class="history">
    <h1>Our History</h1>
    <p>MICB-Tech Ltd was incorporated in Oct. 2017 as a tech company with focus in agriculture, food processing and other agro businesses. In order to fully exploit its tech-potential and meet the increased demand on software solutions among small
        and medium enterprises, the scope of the business operations was expanded early 2019 to include Software development, marketing and marketing research, and    much more.</p>

    <div class="row">
        <div class="mis-vis-val">
            <h3>Mission Statement</h3>
            <p>Our mission is to be one of the leading software and tech-based marketing solutions for businesses, across the country while leveraging on innovative ideas and people.</p>
        </div>
        <div class="mis-vis-val">
            <h3>Vision Statement</h3>
            <p>MICB-Tech is passionately committed to making modern and effective customized applications for businesses at an affordable price.</p>
        </div>
        <div class="mis-vis-val">
            <h3>Our Culture and Values</h3>
            <p>MICB Tech's culture makes it possible for it to be outstanding in its deliverables and it is the key to its success. Our values are subsets of our culture.</p>
            <p>These core values are:</p>
            <p> - <strong>Excellence </strong><br> - <strong>Professionalism </strong> <br> - <strong>Integrity</strong><br> - <strong>Customer-centric</strong>.</p>
        </div>
    </div>

</section>

  <!------------------------------Company Team/Management-------------------------->


  <section class="history">
    <h1>Our Team</h1>
    <p>MICB Tech team is made up of high quality and experienced professionals with background from various specialties. Please meet our team: </p>
    <div class="row">
        <div class="mis-vis-val-1">
            <h3>Managing Director</h3>
            <div>
                <img src="{% static 'images/md.png' %}">
            </div>
            <h5>Trust Caleb Okunfeyiwa</h5>
            <p>Trust C. Okunfeyiwa is an MBA holder from Ladoke Akintola University of Technology, Ogbomosho. He has over ten years experince working across various functions and industries including banking, research and marketing. He is a prolific
                stalk developer, a seasoned marketer and a certified digital marketer.</p>
        </div>
        <div class="mis-vis-val-1">
            <h3>Chief Finance Officer</h3>
            <div>
                <img src="{% static 'images/cfo.png' %}">
            </div>
            <h5>Hope Edoh</h5>
            <p>Hope is a chartered accountant and MBA holder with over ten years of 
                working experience in the accounting field. </p>
           
        </div>

    </div>
    <div class="row">
        <div class="mis-vis-val-1">
            <h3>Project Manager</h3>
            <div>
                <img src="{% static 'images/pexels-dellon-thomas-1405963.jpg' %}" alt="">
            </div>
            <h5>Ikechukwu J. Orji</h5>
            <p>Ikechukwu Orji is a software engineer with over 8 years of experience as a developer.
                He graduated from the University of Nigeria, Nsuka as a computer scientist. He has completed several
                projects including development of school management software and more.</p>
        </div>
        <div class="mis-vis-val-1">
            <h3>Training Coordinator</h3>
            <div>
                <img src="{% static 'images/Edoreh.jpeg' %}">
            </div>
            <h5>Michell B. Edoreh</h5>
            <p>Michelle Blessing Edoreh is an expert trainer in Digital Marketing, 
                social media advertising, growth strategies and consumer behaviour. 
                Having managed content for several organisations such as ACCA Nigeria,
                Akwa Ibom State Government, Vanguard Spark, Access Bank's Accelerate TV, 
                Lodein Entertainment and more, She is now a a Digital Marketing Consultant 
                for many organisatrions and Training Director at MICB Tech Ltd.</p> 
            </p>
        </div>

    </div>

</section>




{% endblock content %}