* {
    margin: 0;
    padding: 0;
}

.lo-container {
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}

.lo-container h2 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.lesson-col p {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}